<div class="container">
  <div class="card">
    <div class="card__poster">
      <img
        src="https://images-na.ssl-images-amazon.com/images/M/MV5BMmViOGVjZWQtZmNmNS00MWU3LWFjNGEtMDc1MjNlY2ZlNjdiXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX300.jpg"
        height="280"
      />
    </div>
    <div class="content">
      <div class="content_header">
        <h3 class="content_header--title">Title(Rating)</h3>
        <p class="content_header--rating">******</p>
      </div>

      <div class="content__subheader">
        <div class="content__subheader--section01">
          <span class="content_subheader--content">2022</span>
          <span class="content_subheader--content">2h30mm</span>
          <span class="content_subheader--content">John Jhonson</span>
        </div>
        <div class="content__subheader--section02">
          <p class="content__subheader--cask">
            <span class="content_subheader--content">Cast: </span>
            John Jacob
          </p>
        </div>
      </div>

      <div class="content__description">
        <p class="content__description--text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor
          asperiores corporis necessitatibus temporibus eius ratione atque,
          ducimus voluptates nostrum, cumque est iusto numquam accusantium optio
          odit ullam maxime, provident suscipit?
        </p>
      </div>
    </div>
  </div>
</div>
