<div class="card">
    <div class="card__header">
        <h3 class="card__header__title">
            Avengers
        </h3>
        <p class="card__header__rating">******</p>
    </div>
    <div class="card__content">
        <div class="card__content__description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A quia tempore earum vel commodi ipsum nihil perferendis architecto hic itaque neque,
             nostrum provident exercitationem eveniet nam non cupiditate unde obcaecati.
        </div>
    </div>
    <div class="card__footer">

    </div>
</div>