<ng-container *ngIf="(iMovies|async) as moviesData">

    <article class="movies" *ngFor="let genre of moviesData.genres">
        <h3 class="movies__genres">{{genre}}</h3>
        <div class="movies__list">
            <ng-container *ngFor="let movie of moviesData.movies">
                <ng-container *ngIf="hasGenre(movie.genres,genre)">
                    <app-movie-card [movie]="movie"></app-movie-card>
                </ng-container>
            </ng-container>
        </div>
    </article>
</ng-container>
